html {
	scroll-behavior: smooth;
  }

  ::-webkit-scrollbar-track{
	  height: 2600px;
	  background: linear-gradient(rgba(51, 63, 49), rgba(220, 164, 153));
  }

  ::-webkit-scrollbar{
	  width: 8px;
  }

  ::-webkit-scrollbar-thumb{
	  background: white;
  }

  ::-webkit-scrollbar-thumb:hover{
	background: gray;
  }

body{
	height: 3000px;
	background-image: linear-gradient(rgba(51, 63, 49), rgba(220, 164, 153));
    overflow-x: hidden;
  }

.imglogo{
    width: 5%;
    margin-left: 70%;
    margin-right: 0%;
}

.containernav{
	margin-left: 10%;
	text-align: center;
}

.nav-item{
	margin-left: 70px;
	margin-right: 40px;
}

.navbar{
	font-family: 'Poppins', sans-serif;
}

.blocos{
    margin-bottom: 3%;
    margin-top: 2%;
	font-family: 'Poppins', sans-serif;

}

.titulos{
	color: white;
	margin-left: 33%;
}

.carousel{
	margin-left: 12.5%;
	margin-top: 10%;
}

.carousel-inner{
    margin-top: 2%;
}

.imgrosto{
    width: 80%;
    height: 90%;
    border-radius: 2%;
	margin-top: 4%;
}

.textos{
    text-align:justify;
	font-family: 'Poppins', sans-serif;
    color: white;
}

p{
	color: white;
	margin-top: 5%;
	font-family: 'Poppins', sans-serif;
}

.img-card{
    height: 150px;
    width: 150px;
}

.musica{
	margin-left: 20%;
}


.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    margin: auto;
    width: 33%;
    background-color: var(--cinzaClaro);
    border: none;
	margin-bottom: 0%;
	margin-top: 0%;
}

.container .card .face{
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

.container .card .face{
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #3b4336;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
}

.container .card:hover .face.face1{
    transform: translateY(0px);
    background: transparent;
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
	background: transparent;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
	background: transparent;
}

.container .card .face.face1 .content h3{
    color: #c1958a;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0px);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.titulo{
    color: white;
	text-align: center;
    margin-top: 2%; 
}

.icon{
	height: 55%;
	width: 40%;
	padding-left: 5%;
	margin-left: 28%;
}

h4{
	text-align: center;
	margin: 2%;
	color: #ecc6bf;
	font-size: x-large;
	margin-bottom: 10%;
}

.text{
	font-family: 'Poppins', sans-serif;
}

.cartao{
    margin-left: 15%;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #59124D;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(89, 18, 77, 0.25);
  }

.progress-bar{
    background-color: #59124D;
}

.card-title{
    text-align: center;
	
}

.cardbutton{  
    text-align: center;
    width: 100%;
    background-color: #4c634b;
    border: none;
    color: #c1958a;
}

.cardbutton:hover{
    background-color: #3a4d39;
    border: none;
    color: #c1958a;
}

.icon_esp{
    width: 4%;
    position: relative;
    display: block;
}

.accord-text{
    margin-left: 2%;
    margin-top: 1%;
}

.topo_ul{
    font-size: 1.5em;
    list-style-type: none;
    color: #000;
    margin-left: 5%;
}

.inst_ul{
    color: #000;
    list-style-type: none;
}

.img_ul{
    width: 5%;
    height: 5%;
    margin-right: 3%;
    display: inline-block;
}

.card-body{
	background-color: #4c634b;
}

.icon-general{
	width: 20%;
	display: block	;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 7%;
}